In [30]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [40]:
transports = pd.read_csv('transports.csv')
bus_stops = pd.read_csv('bus_stops.csv')
transports = transports.rename(columns={'District.Name': 'District_Name'})
bus_stops = bus_stops.rename(columns={'District.Name': 'District_Name'})

In [41]:
transportsD = transports.groupby(by=['District_Name']).count().sort_values(by=['Code'],ascending=False)
transportsD

,Code,Transport,Longitude,Latitude,Station,Neighborhood.Name
District_Name,,,,,,
Eixample,120,120,120,120,120,120
Sant Martí,70,70,70,70,70,70
Sarrià-Sant Gervasi,66,66,66,66,66,66
Sants-Montjuïc,53,53,53,53,53,53
Sant Andreu,40,40,40,40,40,40
Nou Barris,39,39,39,39,39,39
Horta-Guinardó,31,31,31,31,31,31
Ciutat Vella,27,27,27,27,27,27
Les Corts,24,24,24,24,24,24
Gràcia,17,17,17,17,17,17

In [42]:
bus_stopsD = bus_stops.groupby(by=['District_Name']).count().sort_values(by=['Code'],ascending=False)
bus_stopsD

,Code,Transport,Longitude,Latitude,Bus.Stop,Neighborhood.Name
District_Name,,,,,,
Sarrià-Sant Gervasi,439,439,439,439,439,439
Sants-Montjuïc,415,415,415,415,415,415
Eixample,405,405,405,405,405,405
Horta-Guinardó,389,389,389,389,389,389
Sant Martí,356,356,356,356,356,356
Nou Barris,330,330,330,330,330,330
Sant Andreu,228,228,228,228,228,228
Gràcia,210,210,210,210,210,210
Les Corts,207,207,207,207,207,207
Ciutat Vella,167,167,167,167,167,167

In [43]:
transportE = transports.query('District_Name == "Eixample"')
bus_stopsE = bus_stops.query('District_Name == "Eixample"')

In [134]:
Code_bus = bus_stops[['Transport','Code']].groupby('Code')["Transport"].value_counts().to_frame()
Code_bus["Bus_Number"] = Code_bus["Transport"]
Code_bus = Code_bus.drop('Transport', axis='columns')
Code_bus

                       Bus_Number
Code Transport
K014 Day bus stop            2324
K015 Night bus stop           828
K016 Airport bus stop           7
K017 Bus station                3

In [156]:
Code_transport = transportE[['Transport','Code']].groupby('Code')['Transport'].value_counts().to_frame()
Code_transport["Transp_Number"] = Code_transport["Transport"] 
Code_transport = Code_transport.drop('Transport', axis='columns')
Code_transport

                    Transp_Number
Code Transport
K001 Underground              103
K002 Railway (FGC)              7
K003 RENFE                      8
K004 Airport train              1
K011 Tram                       1

In [158]:
Transport_Eixamples = pd.concat([Code_bus, Code_transport], axis=1)
Transport_Eixamples = Transport_Eixamples['Bus_Number'].fillna(Transport_Eixamples['Transp_Number']).to_frame()
Transport_Eixamples = Transport_Eixamples.rename(columns={'Bus_Number':'Number of stops'})
Transport_Eixamples

                       Number of stops
Code Transport
K001 Underground                 103.0
K002 Railway (FGC)                 7.0
K003 RENFE                         8.0
K004 Airport train                 1.0
K011 Tram                          1.0
K014 Day bus stop               2324.0
K015 Night bus stop              828.0
K016 Airport bus stop              7.0
K017 Bus station                   3.0

In [159]:
bus_Stop = pd.concat([Transport_Eixamples.loc["K014"], Transport_Eixamples.loc["K015"]], axis=0)
bus_Stop

                Number of stops
Transport
Day bus stop             2324.0
Night bus stop            828.0