In [30]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

Objetivo: Distribuição etária da população para um determinado ano e distrito;

In [38]:
population = pd.read_csv('population.csv')
population

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124
...,...,...,...,...,...,...,...,...
70075,2013,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Female,>=95,21
70076,2013,10,Sant Martí,70,el Besòs i el Maresme,Female,>=95,25
70077,2013,10,Sant Martí,71,Provençals del Poblenou,Female,>=95,31
70078,2013,10,Sant Martí,72,Sant Martí de Provençals,Female,>=95,38
70079,2013,10,Sant Martí,73,la Verneda i la Pau,Female,>=95,47

DataFrame Completo com todas as informações!! e "District_Code Corrigido

In [39]:
population = population.rename(columns={'District.Name': 'District_Name', 'District.Code': 'District_Code'})
population

,Year,District_Code,District_Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124
...,...,...,...,...,...,...,...,...
70075,2013,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Female,>=95,21
70076,2013,10,Sant Martí,70,el Besòs i el Maresme,Female,>=95,25
70077,2013,10,Sant Martí,71,Provençals del Poblenou,Female,>=95,31
70078,2013,10,Sant Martí,72,Sant Martí de Provençals,Female,>=95,38
70079,2013,10,Sant Martí,73,la Verneda i la Pau,Female,>=95,47

Distrito: Ciutat Vella
Ano: 2017

In [40]:
population = population.query('Year=="2017" & District_Name=="Ciutat Vella"')
population.reset_index(inplace=True)
population

,index,Year,District_Code,District_Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,73,2017,1,Ciutat Vella,1,el Raval,Male,0-4,216
...,...,...,...,...,...,...,...,...,...
763,13873,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Female,90-94,26
764,13943,2017,1,Ciutat Vella,1,el Raval,Female,>=95,75
765,13944,2017,1,Ciutat Vella,2,el Barri Gòtic,Female,>=95,33
766,13945,2017,1,Ciutat Vella,3,la Barceloneta,Female,>=95,39
767,13946,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Female,>=95,39

In [41]:
population.Age[population.Age == '0-4'] = '00-4'
population.Age[population.Age == '5-9'] = '05-9'
population

<ipython-input-41-2a16b2a97aec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Age[population.Age == '0-4'] = '00-4'
C:\Users\Felipe\anaconda3\lib\site-packages\pandas\core\series.py:1020: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)
<ipython-input-41-2a16b2a97aec>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.Age[population.Age == '5-9'] = '05-9'

,index,Year,District_Code,District_Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,0,2017,1,Ciutat Vella,1,el Raval,Male,00-4,224
1,1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,00-4,50
2,2,2017,1,Ciutat Vella,3,la Barceloneta,Male,00-4,43
3,3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,00-4,95
4,73,2017,1,Ciutat Vella,1,el Raval,Male,00-4,216
...,...,...,...,...,...,...,...,...,...
763,13873,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Female,90-94,26
764,13943,2017,1,Ciutat Vella,1,el Raval,Female,>=95,75
765,13944,2017,1,Ciutat Vella,2,el Barri Gòtic,Female,>=95,33
766,13945,2017,1,Ciutat Vella,3,la Barceloneta,Female,>=95,39
767,13946,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Female,>=95,39

In [48]:
age_pop = population[['Age', 'Number']]
age = age_pop.groupby(by=['Age']).sum().index.tolist()
age_pop

       Age  Number
0     00-4     224
1     00-4      50
2     00-4      43
3     00-4      95
4     00-4     216
..     ...     ...
763  90-94      26
764   >=95      75
765   >=95      33
766   >=95      39
767   >=95      39

[768 rows x 2 columns]

In [51]:
age_pop1 = age_pop.groupby(by=['Age']).sum().sort_values(by=['Age'],ascending=True)
age_pop1

       Number
Age
00-4     3855
05-9     3750
10-14    3384
15-19    3526
20-24    6223
25-29   11506
30-34   11802
35-39   11085
40-44    9271
45-49    7474
50-54    6374
55-59    5162
60-64    4065
65-69    3367
70-74    2977
75-79    2425
80-84    2403
85-89    1671
90-94     839
>=95      228

In [1]:
line,ax = plt.subplots(figsize=(12,6)) 
ax = sns.lineplot(data=age_pop1).set_title('Distribuição Etária em 2017 no distrito de Ciutat Vella')

NameError: name 'plt' is not defined